{% extends 'dashboard/userDashboard.html' %}
{% load static %}

{% block content %}

<div class="account-container padding">
    <h1> Account settings
    </h1>



<!-- 
    <div class="account-btn">
        <button>Profile</button>
    </div>
    
    <div class="account-details-container">
        <div class="user-details">

            <div class="user-col">
                <p>Email</p>
                <form action="">
                    <div class="input">
                        <label for="">First Name</label> <br>
                        <input type="text">
                    </div>
                </form>
            </div>

            <div class="user-col">
                <p>Email</p>
            </div>

        </div>
    </div> -->
      













</div>

    





























{% endblock %}