{% extends 'dashboard/userDashboard.html' %}
{% load static %}

{% block content %}


<div class="help-center">
    <h1>Do you need Help</h1>
    <p> Need help? Our support team has you covered

    </p>
</div>


<div class="help-container">
    <div class="help-col">
        <h3>Faq</h3>

        <p>Have any pending questions? <br> Try our faqs as they may have already been answered there </p>

        <a href="{% url 'faq' %}">Go to FAQ <i class="fa-solid fa-greater-than"></i><i class="fa-solid fa-greater-than"></i></a>
    </div>
    <div class="help-col">
        <h3>Contact support</h3>

       <p> Want to reach out to our support team. Do not hesitate to contact us. </p>
        <a href="">Reach <i class="fa-solid fa-greater-than"></i><i class="fa-solid fa-greater-than"></i></a>

    </div>









</div>
   





























{% endblock %}