{% extends 'rent/base.html' %}
{% load static %}

{% block content %}
<style>
   
   .banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--whiteColor);
    margin-bottom: 3%;
    background-size: cover;
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(14, 14, 70, 0.9), rgba(14, 14, 70, 0.8)),
    url("{% static 'rent/img/banner.jpg' %}");
    
    /* Add a border with red, yellow, and green colors */
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #fd3358, #0dca95 , #fd3358) 9;

}
</style>

<body class="property-page">
    


    <!-- banner -->
    <div class="banner-container padding">
        <h1> Contact Us
        </h1>

    </div>



    <div class="contact-us-form padding">
        <div class="contact-numbers">
            <div class="c-row">
                <p>Email us: gbrentinfo@gmail.com</p>
            </div>
            
            <div class="c-row">
             <p>Whatasapp us</p>
             <a href="">0558156844</a>
             <a href="">0558156844</a>
            </div>
            

        </div>
        <div class="contact-form">
            <form method="POST">
                {% csrf_token %}
                <div class="f-input">
                    <label for="">Name</label> <br>
                    <input type="text" name="name" placeholder="eg: Benjamin" required>
                </div>
                <div class="f-input">
                    <label for="">Email</label> <br>
                    <input type="email" name="email" placeholder="eg: benjamiinoheneasare65@gmail.com" required>
                </div>
                <!-- <div class="f-input"></div>
                    <label for="">Phone</label> <br>
                    <input type="number" placeholder="+233 244 000 000" required>
                </div> -->
                <div class="f-input">
                    <label for="">Message</label> <br>
                   <textarea name="message" id="" placeholder="eg: hi i need a house to rent" required></textarea>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

</body>


{% endblock %}