{% extends 'rent/base.html' %}
{% load static %}

{% block content %}

<style>
    .banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--whiteColor);
    margin-bottom: 5%;
    background-size: cover;
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(14, 14, 70, 0.9), rgba(14, 14, 70, 0.8)),
    url("{% static 'rent/img/banner.jpg' %}");
    
    /* Add a border with red, yellow, and green colors */
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #fd3358, #0dca95 , #fd3358) 9;

}
</style>

<body class="property-page props-back">


    <!-- banner -->
    <div class="banner-container padding">
        <h1>  Frequently Asked Question-containers 
        </h1>

    </div>
    






    <div class="freeq-question padding">
        <div class="faq-img">
            <img src="{% static 'rent/img/faq-img.jpg' %}" alt="">
        </div>
        <div class="faq-q ">
            <h2>
                Frequently Asked Question-containers 
            </h2>
                <p> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
    
                </p>
           
            <div class="question-container">
                <div class="question">
                    <p>What I you Name</p>
                    <i class="fa-solid fa-caret-up"></i>
                </div>
    
                <div class="answer">
                    <p>Yes we do everything</p>
                </div>
              
                
            </div>
          
            <div class="question-container">
                <div class="question">
                    <p>What I you Name</p>
                    <i class="fa-solid fa-caret-up"></i>
                </div>
    
                <div class="answer">
                    <p>Yes we do everything</p>
                </div>
              
                
            </div>
            <div class="question-container">
                <div class="question">
                    <p>What I you Name</p>
                    <i class="fa-solid fa-caret-up"></i>
                </div>
    
                <div class="answer">
                    <p>Yes we do everything</p>
                </div>
              
                
            </div>
            <div class="question-container">
                <div class="question">
                    <p>What I you Name</p>
                    <i class="fa-solid fa-caret-up"></i>
                </div>
    
                <div class="answer">
                    <p>Yes we do everything</p>
                </div>
              
                
            </div>
            <div class="question-container">
                <div class="question">
                    <p>What I you Name</p>
                    <i class="fa-solid fa-caret-up"></i>
                </div>
    
                <div class="answer">
                    <p>Yes we do everything</p>
                </div>
              
                
            </div>
            <div class="question-container">
                <div class="question">
                    <p>What I you Name</p>
                    <i class="fa-solid fa-caret-up"></i>
                </div>
    
                <div class="answer">
                    <p>Yes we do everything</p>
                </div>
              
                
            </div>
            <div class="question-container">
                <div class="question">
                    <p>What I you Name</p>
                    <i class="fa-solid fa-caret-up"></i>
                </div>
    
                <div class="answer">
                    <p>Yes we do everything</p>
                </div>
              
                
            </div>
            <div class="question-container">
                <div class="question">
                    <p>What I you Name</p>
                    <i class="fa-solid fa-caret-up"></i>
                </div>
    
                <div class="answer">
                    <p>Yes we do everything</p>
                </div>
              
                
            </div>
         
    
        </div>
    </div>
    
 



</body>










{% endblock %}