{% extends 'rent/base.html' %}
{% load static %}

{% block content %}
<style>
    .sign-up-form{
      padding-top: 5%;
       display: flex;
       align-items: center;
      
       color: var(--whiteColor);
 gap: 2rem;
       background-size: cover;
       width: 100%;
       min-height: 80vh;
       background-position: center center;
       background-repeat: no-repeat;
       background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
       url("{% static 'rent/img/banner.jpg' %}");
   }

   @media (max-width: 768px) {
.sign-up-form{
    flex-direction: column;
}
   }
</style>

<body class="property-page">
    




    <div class="sign-up-form padding">
      <div class="sign-up">
      
     <h2>Create an account to access exclusive features or do you have accounnt alread ? <a href="{% url 'signUp' %}">Sign Up</a> </h2>
      </div>
        <div class="sign-up">
            <form action="">
            
                <input type="email" name="" id="" placeholder="Email Adress" required>
            
                <input type="password" name="" id="" placeholder="Password" required>
              
                <button>Submit</button>
            </form>

        </div>
    </div>




</body>










{% endblock %}