{% extends 'rent/base.html' %}
{% load static %}

{% block content %}


<body class="property-page">
    

<div class="tenant-page-container">
    <div class="tenant padding">
        <h1> Become an
            GBrent tenant</h1>
        <a href="">Explore more homes</a>
    </div>
    <div class="tenant-img">
        <img src="{% static 'rent/img/tenant.jpg' %}" alt="">
    </div>
</div>



<div class="why-choose-us padding">
    <div class="heading">
        <h2>Why choose us</h2>
    </div>
    <div class="why-grid">
        <div class="why border">
         <h3>Monthly rent
            steps </h3>
            <p>You no longer have to make 12-24 months upfront rent payments. Rent is paid on a monthly basis on edanra. Say goodbye to advance rent payment </p>
            
        </div>
        <div class="why border">
            <h3>Monthly rent
                steps </h3>
                <p>You no longer have to make 12-24 months upfront rent payments. Rent is paid on a monthly basis on edanra. Say goodbye to advance rent payment </p>
                
        </div>
        <div class="why">
            <h3>Monthly rent
                steps </h3>
                <p>You no longer have to make 12-24 months upfront rent payments. Rent is paid on a monthly basis on edanra. Say goodbye to advance rent payment </p>
                
        </div>
    </div>
</div>

 
<div class="redy-container padd">
    <div class="ready">
        <img src="{% static 'rent/img/why.jpg' %}" alt="">
    </div>
    <div class="ready r-pad">
      <h3>Ready to join our community of tenants? </h3>
      <p>We are forging a new generation of happy and protected tenants across Africa who enjoy a unique and tailored experience, build their credit identity and thus are financially empowered. </p>

      <a href="">Explore more homes</a>
    </div>
 
</div>




</body>










{% endblock %}